@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

ul {
      list-style: none;
}

a, li {
      color: #32302F;
      text-decoration: none;
}

body {
      color: #32302F;
      background-color: #FCFCFC;
      line-height: 1.6;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

.nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 5px 10%;
      border-bottom: 1px solid #E4E2E1;
}

.brand-logo {
      margin-right: auto;
}

.nav-links li {
      display: inline-block;
      padding: 0 30px;
}

.nav-links li a {
      text-transform: capitalize;
}

.cta {
      background-color: #484544;
      color: #FFFFFF;
      padding: 10px 20px;
      border-radius: 1600px;
      text-transform: capitalize;
}

.banner {
      background-color: #E4E9D3;
      height: 75vh;
      display: flex;
      align-items: center;
}

.banner .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15%;
}

.container .banner-content {
      margin-bottom: 30px;
}

.feature-container {
      padding: 100px 15%;
}

.feature-container .section-title {
      text-align: center;
      margin-bottom: 30px;
}

.feature-container .card {
      width: 18rem;
}

.feature-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.value-section {
      background-color: #32302F;
      color: #FFF;
      padding: 100px 15%;
}

.value-section .value-reader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
}

.value-section .value-writer {
      display: flex;
      justify-content: space-between;
      align-items: center;
}
